<p>Angular4 works!!!!!!!!</p>
<div class="gallery">
    <div *ngFor="let item of galleryData" class="gallery__item" (click)="openItem(item.id)">
        <h3>{{item.movie}}</h3>
        <p>{{item.short_description}}</p>
    </div>
    <!--<div class="gallery__item">-->
        <!--<h3>Title</h3>-->
        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A cupiditate deleniti dicta doloribus ipsum temporibus.</p>-->
    <!--</div>-->
    <!--<div class="gallery__item">-->
        <!--<h3>Title</h3>-->
        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A cupiditate deleniti dicta doloribus ipsum temporibus.</p>-->
    <!--</div>-->
    <!--<div class="gallery__item">-->
        <!--<h3>Title</h3>-->
        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A cupiditate deleniti dicta doloribus ipsum temporibus.</p>-->
    <!--</div>-->
    <!--<div class="gallery__item">-->
        <!--<h3>Title</h3>-->
        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A cupiditate deleniti dicta doloribus ipsum temporibus.</p>-->
    <!--</div>-->
    <!--<div class="gallery__item">-->
        <!--<h3>Title</h3>-->
        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A cupiditate deleniti dicta doloribus ipsum temporibus.</p>-->
    <!--</div>-->
    <!--<div class="gallery__item">-->
        <!--<h3>Title</h3>-->
        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A cupiditate deleniti dicta doloribus ipsum temporibus.</p>-->
    <!--</div>-->
    <!--<div class="gallery__item">-->
        <!--<h3>Title</h3>-->
        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A cupiditate deleniti dicta doloribus ipsum temporibus.</p>-->
    <!--</div>-->
</div>