
	<div class="container">
		<div class="row">
			<h4 class="light">
				AngularJS example
			</h4>
			<p class="caption">
				This is a sample application written with Angular 1.5 and angular-ui-router.
			</p>
		</div>
		
		<div id="angular2"></div>

		<div>
			<a class="waves-effect waves-light btn-large" href="/#/app3/gifs" style="margin-right: 10px">
				Show me gifs
			</a>
			<a class="waves-effect waves-light btn-large" href="/#/app3/lorem-ipsum">
				Show me lorem ipsum
			</a>git
		</div>
		<div class="row">
			<ui-view />
		</div>
	</div>
	<div class="modal__screen" ng-class="{'showModal':showModal}" ng-click="hideModal()"> 
		<div class="modal__content">
			<a href="#" class="modal--close-btn" ng-click="hideModal($event)">X</a>
			<div class="movie-contant"> 
				(AngularJS Modal)
				<h4 class="movie-title">{{ movieTitle }} </h4>
				<p>{{ movieDescription }}</p>
				<!-- <img src="images/popcorn.jpg" width="340" alt=""> -->
			</div>
		</div>
	</div>
