body{
    padding: 75px 0 0 0;
    margin:0;
}
.main-content {
    max-width: 100%;
    margin: 0;
}
.gallery {
    max-width:952px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
}
.gallery__item {
    width: 200px;
    height: 230px;
    padding: 20px;
    border: 13px solid #fff;
    box-sizing: border-box;
    background-color: aliceblue;
    box-shadow: 0 0 1px black;
    cursor: pointer;
    transition: box-shadow .3s;
    margin-bottom: 30px;
    overflow: hidden;
}
.angularjs-wrapper {
    display: flex;
    min-height: 500px;
}

.gallery__item:hover {
    box-shadow: 0 0 10px black;
    transition: box-shadow .3s;
}

@keyframes showModalAnimation {
    0%{
        opacity: 0;
        display: block;
    }
    100%{
        opacity: 1;
    }
}

@keyframes hideModalAnimation {
    0%{
        opacity: 1;
        display: block;
    }
    99%{
        opacity: 0;
        display: block;
        z-index: 0;
    }
    100%{
        opacity: 0;
        z-index: -1;
        display: none;
    }
}

.modal__screen {
    /* display: none; */
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.3);
    animation: hideModalAnimation .5s ease-in-out forwards;
}
.modal__screen.showModal {
    display: block;
    animation: showModalAnimation .5s ease-in-out forwards;
}
.modal__content {
    width: 500px;
    height: 400px;
    background-color: #fff;
    position: absolute;
    padding: 30px;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 14px 0px black;

}
.modal--close-btn {
    position: absolute;
    left: 10px;
    top: 10px;
    color:black;
    text-decoration: none;
}

.movie-title {
    font-size: 24px;
}
.sidebar {
    width: 210px;
    top: 75px;
    flex-shrink: 0;
    bottom: 0;
    left: 0;
    padding-top: 10px;
    background-color: aliceblue;
}
.container {
    width: 100%;
    text-align: center;
}